<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="primer-datamanager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `primer-datamanager`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PrimerDatamanager extends Polymer.Element {
      static get is() { return 'primer-datamanager'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'primer-datamanager'
          }
        };
      }
    }

    window.customElements.define(PrimerDatamanager.is, PrimerDatamanager);
  </script>
</dom-module>
