<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="primer-datamanager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      auto
      url="https://jsonplaceholder.typicode.com/users/1"
      handle-as="json"
      last-response="{{handleResponse}}"
      loading="{{loading}}"></iron-ajax>

      <template is="dom-if" if="{{loading}}">
          <paper-spinner active class="thick"></paper-spinner>
          <h2>Loading</h2>
      </template>
      <template is="dom-if" if="{{!loading}}">
          <h2>{{handleResponse.name}}</h2>
      </template>
  </template>

  <script>
    /**
     * `primer-datamanager`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PrimerDatamanager extends Polymer.Element {
      static get is() { return 'primer-datamanager'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: ()=>{
              return {}
            },
            observer:'_test'
          },
          loading: {
            type: Boolean
          }
        };
      }
      _test(e){
        console.log(e);
      }
    }

    window.customElements.define(PrimerDatamanager.is, PrimerDatamanager);
  </script>
</dom-module>
